# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# wiki
wiki/

# Visual Studio Files
*/Debug/*
*.ilk
*.pdb
*.sln
*.sdf
*.opensdf
*.vcxproj
*.vcxproj.filters
*.v11.suo

#general files
*.tlog